@import "tailwindcss";

.dashboard-background {
  background-image: url('/bgimg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}